@font-face {
    font-family: "eduHyeonok";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/eduHyeonok/eduHyeonok.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/eduHyeonok/eduHyeonok.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduHyeonok/eduHyeonok.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduHyeonok/eduHyeonok.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduHyeonok/eduHyeonok.ttf") format("truetype");
    font-display: swap;
} 
.eduHyeonok {
    font-family: "eduHyeonok";
}